/* Icons {{{ */
.icon {
	padding-left: 25px;
	background-position: 2px -1px;
	background-repeat: no-repeat;
}

.icon.options {
	background: url(../img/gear.png) 4px 3px no-repeat;
	padding-left: 26px;
}

.icon.add-row-top,
.icon.add-row-bottom { background-position: 2px -2px; }

.icon.button.add-column-left,
.icon.button.add-column-right, { background-position: -5px -6px; }

.icon.add-row-bottom { background-image: url(../img/add-row-bottom.png); }
.icon.add-row-top { background-image: url(../img/add-row-top.png); }
.icon.add-column-left { background-image: url(../img/add-column-left.png); }
.icon.add-column-right { background-image: url(../img/add-column-right.png); }
/* }}} End Icons */

